<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NorthWindCn" connectionString="data source=.\ITI_DB;initial catalog=NorthWind;integrated security=true;encrypt=false"  />
		<add name="pubscn" connectionString="data source=.\ITI_DB;initial catalog=pubs;integrated security=true;encrypt=false"  />
	</connectionStrings>
</configuration>