
@{
    ViewBag.Title = "ResultView";
}

<h2>Show Details</h2>


<h4>Your id is : @ViewBag.Data.id</h4>
<h4>Your name is : @ViewBag.Data.name</h4>


<img src="~/Images/@ViewBag.Data.image" width="400" height="400" alt="Alternate Text" />

