img:hover {
  opacity: 0;
}
img {
  transition: all 3s;
}

#btn {
  width: 200px;
  height: 30px;
  background-color: aqua;
  border: solid 3px blue;
  border-radius: 15px;
  transition: all 3s;
}
#btn:hover {
  box-shadow: purple 0px 0px 10px;
  transform: scale(1.2);
  border-color: red;
  color: red;
}
