
@{
    ViewData["Title"] = "CreateNewCar";
}
<h2 class="text-primary">CreateNewCar</h2>

<form action="CreateNewCar" method="post">


    <div>
        <label>ID</label>
        <input type="text" class="form-control" name="num" value="" />
        <br />
        <label>Color</label>
        <input class="form-control" name="color" value="" />
        <br />
        <label>Model</label>
        <input class="form-control" name="model" value="" />
        <br />
        <label>Manfacture</label>
        <input class="form-control" name="man" value="" />
        <br />

        <input class="form-control" type="submit" value="Create" />
        <br />


    </div>
</form>


